@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/bootstrap/main.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.EventCalendar {
    padding: 3em;
    padding-top: 0em;
    height: 90vh;
    position: relative;
}
.createEventButton {
    text-align: center;
    position: relative;
    height: 20px;
    font-size: small;
}

.btn btn-outline-secondary {
    font-size: smaller;
}

.fc {
    height: 90vh;
}

.fc-view-container {
    height: 80vh;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: .5em;
}

.fc-view fc-dayGridMonth-view fc-dayGrid-view {
    height: 80vh;
}

.fc fc-ltr fc-bootstrap {
    height: 80vh;
}

.fc-body {
    height: 60vh;
}

.table-bordered {
}
